/target/
/test-output/
.classpath
.project
/.idea
/.settings
PayLease.iml
src/main/main.iml
src/test/test.iml
/bin/
.DS_Store
src/.DS_Store
/src/test/resources/config/Appconfig.properties
screenshots/
src/test/resources/config/Appconfig.properties
Appconfig.properties
/testng-test.xml
/src/test/resources/files-to-ftp/*_RESIDENT*
